
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Vinicius Fonseca · Node.js</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>  
  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Erro ao efetuar o login!</h1>
      <p class="lead">Verifique se você digitou o usuário e senha corretamente...</p>
      <p><a href="/login">Clique aqui para voltar para o login</a></p>
    </main>
  </body>
</html>
